:root {
    --primary-text-color: #a11d21;
    --primary-color: #800000;
    --linear-gold-color: #ecc440, #fffa8a, #ddac17, #ffff95;
    --menu-font-color: #767676;
    --Gian-Hang-Color: #d7fae0;
}

body {
    width: auto;
    height: auto;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-image: url("Images/BackgroundPC_2.jpg");
    background-repeat: repeat-y;
    background-size: cover;

    display: grid;
}

#wheel-container {
    width: 750px;
    height: 750px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
}

#wheel {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info-pop-up {
    height: 70%;
}

#info-pop-up>input {
    height: 15%;
    font-size: 170%;
}

#info-pop-up>div {
    height: 15%;
}

#close-pop-up>div {
    height: 12.5%;
}

#RewardsContainer {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#RewardsContainer ol li {
    background-color: transparent !important;
    display: flex;
    align-items: center;
    color:white!important;
}
#title img{
    width:25%;
}
#returnBtn *{
    color:white;
}
#returnBtn i{
    font-size:500%;
    float:right;
}
#returnBtn span{
    position: relative;
    top:25%;
    font-size:150%;
}
#returnBtn #wrapper{
    cursor: pointer;
}

.wheel-center {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 20%;
    height: 20%;

    background: linear-gradient(60deg, #f6d357 0%, #f6d357 35%, white 45%, #f6d357 60%);

    border-radius: 50%;

    padding: .25em;

    z-index: 0;
}

.wheel-center::before {
    content: '';

    position: absolute;

    width: 75%;
    height: 75%;


    top: 0%;
    left: 50%;

    transform: translate(-50%, -75%);

    border: solid 60.5px;
    border-color: transparent transparent #f6d357;

    z-index: -1;

}

.list-group-item {
    border: 0px !important;
    border-bottom: black solid 2px !important;
}

.list-group-item:first-child {
    border-top: black solid 2px !important;
    border-radius: 0 !important;
}

.list-group-item:last-child {
    border-radius: 0 !important;
}

.col {
    border: 0;
    border-right: black solid 2px;
}

.col:first-child {
    border-left: black solid 2px;
}

@media screen and (max-width: 576px) {
    #info-pop-up {
        background-color: red;
    }
}

@media screen and (max-width: 1024px) {
    #body {
        background-image:  url("Images/PhoneBgLoop.png");
        background-repeat: repeat-y;
    }
    #title img{
        width:100%;
    }
}